.test-change-modal {
  min-width: 90vw;
  max-width: 90vw;

  .test-block {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: row;

    .control-test {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      width: 150%;
    }

    .preview-test {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      width: 100%;
    }
  }

  .number {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.1rem;

    .label {
      font-weight: bold;
      min-width: 200px;
    }

    .input {
      width: 100%;
    }
  }

  .contain {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.7rem;
    justify-content: space-between;
    align-items: center;

    .condition {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 1rem;

      .label {
        font-weight: bold;
        min-width: 200px;
      }

      .condition-body {
        width: 100%;

        .input {
          width: 100%;
        }
      }

    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: row;
    width: 100%;

    .adds {
      display: flex;
      gap: 1rem;
    }

    .dels {
      display: flex;
      gap: 1rem;
    }

  }

}

:deep(.p-panel-header) {
  background-color: white;
  color: black;
  font-size: 1.5rem;
}

.error-message {
  color: red;
  font-size: 0.8rem;
}

.preview-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
